<div class="image-full-screen">
  <div class="bg-collection-img">
    <div class="collection-image">
      {%if collection.image%}
      <img src="{{ collection.image | image_url }}">
      {%else%}
      {{ 'image' | placeholder_svg_tag }}
      {%endif%}
    </div>
  </div>
  <div class="content-image">
    <div class="title-image">Collection</div>
    <div class="collection-name">{{ collection.title }}</div>
    {% if collection.all_products_count > 1 %}
      <div class="all-products-count">There are {{ collection.all_products_count }} products</div>
    {% elsif collection.all_products_count == 1 %}
      <div class="all-products-count">There is {{ collection.all_products_count }} product</div>
    {% elsif collection.all_products_count == 0 %}
      <div class="all-products-count">No products</div>
    {% endif %}
  </div>
</div>
<div class="description-collection">{{ collection.description }}</div>
