<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="stylesheet" href="{{ 'reset.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}" media="print" onload="this.media='all'">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
      integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    >
    {% comment %} animation {% endcomment %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% comment %} <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}

    {% comment %} {{ 'theme-editor.js' | asset_url | script_tag }} {% endcomment %}
    {{ 'count-up.js' | asset_url | script_tag }}

    {{ 'filter.js' | asset_url | script_tag }}
    {{ 'infinite-loading.js' | asset_url | script_tag }}

    {% if template contains 'collection' -%}
      {{- 'https://cdn.shopify.com/s/files/1/0382/4185/files/ajaxinate.js?937' | script_tag -}}
    {%- endif %}

    {% comment %}import css input select  {% endcomment %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css"
      rel="stylesheet"
    >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    {% comment %} import css input select {% endcomment %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css">
    

    {{ 'range-price.js' | asset_url | script_tag }}
  </head>

  <body>  
    {% comment %}
      {% section 'new-header' %}
      {% section 'new-banner' %}
      {% section 'sub-banner' %}
      {% section 'collection' %}
      {% section 'new-arrivals' %}
      {% section 'three-banners' %}
      {% section 'new-newsletter' %}
      {% section 'accessories' %}
    {% endcomment %}
    {{ content_for_layout }}
    {% section 'new-footer' %}

    <div id="bg-homepage"></div>
    
  </body>
</html>
