{{ 'main-collection.css' | asset_url | stylesheet_tag }}
{% assign products = collection.products %}

<div class="main-collection">
  <div class="title-collection">{{ collection.title }}</div>
  <div class="description-collection">{{ collection.description }}</div>
  <div class="collection-toolbar">
    <div class="filter">
      <div class="btn-filter">
        <img
          src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/filter_alt_FILL0_wght400_GRAD0_opsz48.svg?v=1682494010"
          class="filter-icon"
        >
        <span>Filter</span>
      </div>
      <div class="dropdown-filter">
        <div class="vailability">
          <div>Availability</div>
          <form>
            <input type="checkbox" id="in_stock" name="in_stock" value="in-stock">
            <label for="in_stock"> In stock</label><br>
            <input type="checkbox" id="out_stock" name="out_stock" value="out-stock">
            <label for="out_stock"> Out of stock</label><br>
          </form>
        </div>

        <div class="price">
          <div>By price</div>
        </div>
      </div>
    </div>

    {% comment %}  {% endcomment %}

    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
    <div>
      <form>
        <label for="sort-by">Sort by</label>
        <select id="sort-by" class="sort-by" onchange="myFunction()">
            {%- for option in collection.sort_options %}
              <option
                value="{{ option.value }}"
                {%- if option.value == sort_by %}
                  selected="selected"
                {%- endif %}
              >
                {{ option.name }}
              </option>
            {% endfor -%}
            </select>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <div class="products">
    {% comment %} {% assign sorted_results = products | sort: "title" %} {% endcomment %}
    {% for product in products %}
      <a class="product-item" href="{{product.url}}">
        <div>
          <img src="{{product.featured_media | image_url}}" class="product-image">
          <div class="sale-tag"></div>
          <div class="product-content">
            <div class="product-name">{{ product.title }}</div>
            <div class="product-price">{{ product.price | money }}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Main collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "collectionsh",
      "label": "Collection"
    }
  ]
}
{% endschema %}


{{ 'filter.js' | asset_url | script_tag }}
