{% comment %} {{ 'homepage.css' | asset_url | stylesheet_tag }}

<div class="homepage">
  <div class="banner">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'banner-item' %}
          <div style="display: none">{% increment variable %}</div>

          {% assign variable1 = variable | minus: 1 %}
          {% assign variable2 = variable %}
          {% assign remainder1 = variable1 | modulo: 4 %}
          {% assign remainder2 = variable2 | modulo: 4 %}
          <div
            class="banner-item"
            {% if remainder1 == 0 or remainder2 == 0 %}
              style="width: 40%;"
            {% else %}
              style="width: 60%;"
            {% endif %}
          >
            <div class="banner-item-bg" style="background-image: url('{{block.settings.banner-image | image_url}}')">
              <div></div>
            </div>
            <div class="banner-item-content">
              <div class="banner-featured-text" style="color: {{block.settings['banner-text-color']}}; font-size: {{block.settings.banner-fontsize-featured-text}}px;">{{ block.settings['banner-featured-text'] }}</div>
              <div class="banner-sub-text" style="color: {{block.settings['banner-text-color']}}">{{ block.settings['banner-sub-text'] }}</div>
              <div class="banner-btn-button">
                {% if block.settings['banner-button1'] != blank %}
                  <a
                    href="{{block.settings.banner-link-button1 | default: '#'}}"
                    style="color: {{block.settings['banner-text-color-btn']}}"
                  >
                    {{- block.settings['banner-button1'] -}}
                  </a>
                {% endif %}
                {% if block.settings['banner-button2'] != blank %}
                  <a
                    href="{{block.settings.banner-link-button2 | default: '#'}}"
                    style="color: {{block.settings['banner-text-color-btn']}}"
                  >
                    {{- block.settings['banner-button2'] -}}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}

   
  </div>
  
</div>

{% schema %}
{
  "name": "new-homepage",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "name": "banner-item",
      "type": "banner-item",
      "settings": [
        {
          "id": "banner-image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "banner-featured-text",
          "type": "textarea",
          "label": "Featured content",
          "default": "Extra 50% off Sale"
        },
        {
          "id": "banner-sub-text",
          "type": "text",
          "label": "Sub content",
          "default": "Use code “ss22” in cart to check the discount."
        },
        {
          "id": "banner-button1",
          "type": "text",
          "label": "Left button name"
        },
        {
          "type": "url",
          "id": "banner-link-button1",
          "label": "Add link to left button"
        },
        {
          "id": "banner-button2",
          "type": "text",
          "label": "Right button name"
        },
        {
          "type": "url",
          "id": "banner-link-button2",
          "label": "Add link to right button"
        },
        {
          "type": "color",
          "id": "banner-text-color",
          "label": "Color text",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "banner-text-color-btn",
          "label": "Color text button",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "banner-fontsize-featured-text",
          "min": 30,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 60
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "new-homepage"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} {% endcomment %}
